@using RFToDo.Client.Helpers
@inject IGoalService GoalService
@inject Radzen.DialogService DialogService
@inject SweetAlertService Swal
@inject ISweetAlertMessage message
<EditForm Model="Goal" OnValidSubmit="Save">
    <div class="row mt-2">
        <div class="form-group col-sm-12 col-md-6">
            <label class="titleInput">Nombre</label>
            <RadzenTextBox class="form-control input" @bind-Value=@Goal.Name MaxLength="80" />
        </div>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary fs-4">
            <i class="fa-solid fa-paper-plane mx-3"></i>Enviar
        </button>
    </div>
    <div class="mt-2">
        <button type="button" class="btn btn-secondary fs-4" @onclick="()=>DialogService.Close(false)">
            <i class="fa-solid fa-paper-plane mx-3"></i>Enviar
        </button>
    </div>
</EditForm>

@code {
    [Parameter]
    public Goal Goal{ get; set; } 
    [Parameter] public bool IsEdit { get; set; }
    async Task Save()
    {
        try
        {
            if (string.IsNullOrEmpty(Goal.Name))
            {
                await message.SweetMessege(Swal, "Error", "Favor de ingresar una meta", "warning");
            }
            else
            {
                if (!IsEdit)
                {
                    Goal.DateCreated =DateTime.Now;
                    var result = await GoalService.CreateGoal(Goal);
                    if (result == "success")
                    {
                        await message.SweetMessege(Swal, "Agregada", "La meta se ha agregado", "success");
                        DialogService.Close(true);
                    }
                    else
                    {
                        await message.SweetMessege(Swal, "Error", "No se ha agregado la meta", "error");
                    }
                }
                else
                {
                    var result = await GoalService.UpdateGoal(Goal);
                    if (result == "success")
                    {
                        await message.SweetMessege(Swal, "Actualizada", "La meta se ha actualizado", "success");
                        DialogService.Close(true);
                    }
                    else
                    {
                        await message.SweetMessege(Swal, "Error", "No se ha actualizado la meta", "error");
                    }
                }
            }
        }
        catch (Exception)
        {

            throw;
        }
    }
}
